:root {
	--primary-green: rgb(0,172,167);
	--primary-orange: rgb(243, 90, 48);
	--primary-black: rgb(11, 10, 13)
}

body {
	font-family: "regulator-nova";
	font-weight: 600;
	margin: 0;
	color: var(--primary-black);
}

.main {
	margin: 0 100px 50px 100px;
	letter-spacing: 0.1em;
}

.main h1 {
	letter-spacing: 0.2em;
	text-align: center;
	width: 60%;
	margin: 50px auto;
	font-size: 2.5em;
}

.main .custom div {
	column-count: 2;
	column-gap: 70px;
}

.verticaal, .statistieken {
	display: flex;
	margin: 0 100px;
}

.verticaal div.custom {
	background-color: var(--primary-green);
	color: white;
	max-width: 30%;
	padding: 10px 20px 0px 20px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.verticaal div.custom h2 {
	text-align: right;
	text-transform: lowercase;
	font-size: 2.5em;
	font-weight: 600;
	margin-block-start: 0.1em;
	margin-block-end: 0;
}

.verticaal div.custom h3 {
	opacity: 0.5;
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 600;
	margin-block-start: 0;
	margin-block-end: 0.1em;
}

.verticaal div.custom div {
	font-size: 1.8em;
}

.verticaal div:nth-child(2) {
	margin: 0 20px;
}

.verticaal div.icoon {
	justify-self: flex-end;
}

.producten .custom {
	margin-top: 50px;
}

.producten .custom > div {
	padding-top: 600px;
	padding-bottom: 20px;
}

.product-container {
	display: flex;
	margin: 0 20px;
	padding: 50px 20px;
}

.product-container.orange {
	background-color: var(--primary-orange);
}

.product-container.green {
	background-color: var(--primary-green);
}

.product-container div {
	max-width: 50%;
}

.product-container .logo img {
	max-width: 100%;
}

.product-container .text {
	font-size: 1.8em;
	padding: 0 20px;
}

.statistieken {
	text-align: center;
	padding-top: 50px;
}

.statistieken div.custom {
	font-size: 1.3em;
	width: 30%;
	padding: 10px 20px 0px 20px;
}

.statistieken h3 {
	color: var(--primary-green);
	font-size: 2em;
	font-weight: 600;
	text-transform: uppercase;
	margin-block-start: 0.1em;
	margin-block-end: 0;
}

.statistieken .icoon img {
	padding-top: 50px;
	max-width: 100%
}

.statistieken .title {
	min-height: 40px;
}

.footer {
	display: flex;
	margin-top: 50px;
}

.footer div {
	background-color: var(--primary-green);
	width: 100%;
}

.footer .logo {
	background-color: white;
	max-width: 30%;
	padding: 25px;
}

.footer .logo img {
	max-width: 100%;
}

.footer h4 {
	margin-block-end: 0;
	padding-left: 25px;
}

.footer h4+div {
	padding-left: 25px;
	display: flex;
	flex-wrap: wrap;
}

.footer h4+div div {
	color: white;
	min-width: 200px;
	max-width: 33%;
	margin-bottom: 25px;
}